<!--RETTANGOLO SCHEDA PERSONA-->
<div *ngIf="respScheda" style="margin-top: 1%" class="container">
  <div class="row">
    <div class="col-10">
      <div class="container scheda">
        <div class="row">
          <div class="col-12">
            <h3>
              <font color=red *ngIf="schedaPersona.stato !== 'Bozza'">Codice: {{ schedaPersona.codiceScheda }}</font>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h4>Stato: {{ schedaPersona.stato }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h6>
              <font color=#0000ff>Inserimento:</font>
            </h6>
            <div>
              <h6 *ngIf="sceltaAmbito === 'I'">{{ schedaPersona.dataIscrizione | date:'dd/MM/yyyy' }}</h6>
              <h6 *ngIf="sceltaAmbito === 'R'">{{ schedaPersona.dataInserimento | date:'dd/MM/yyyy' }}</h6>
            </div>
          </div>
          <div class="col-6">
            <div>
              <h6>
                <font color=#0000ff>Ultimo modificatore:</font>
              </h6>
            </div>
            <div>
              <h6>{{ schedaPersona.autore }}</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h6>
              <font color=#0000ff>Ultima Modifica:</font>
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h6>{{ schedaPersona.dataUltimoAggiornamento | date:'dd/MM/yyyy' }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--BOTTONE STAMPA SCHEDA PERSONA-->
<div *ngIf="respBottoneStampaPersona" class="row">
  <button type="button" class="offset-10 btn btn-info" (click)="stampaSchedaPersona()">
    <i class="material-icons icon-class">print</i>
    <span>STAMPA SCHEDA</span>
  </button>
</div>

<!--BARRA STEP-->
<div style="margin-left: 40%; margin-top: 3%; margin-bottom: 3%" class="row col-lg-12">
  <div class="stepwizard col-md-offset-3">
    <div class="stepwizard-row setup-panel">
      <div *ngFor="let i of step | slice:0; let i = index;" style="float:left; margin-right: 5rem;">

        <div class="stepwizard-step" *ngIf="currentStep === i && currentStep != step?.length">
          <a class="btn btn-primary btn-circle">
            <font color=white>{{ i }}</font>
          </a>
          <p>Step {{ i }}</p>
        </div>

        <div class="stepwizard-step" *ngIf="currentStep !== i">
          <a class="btn btn-default btn-circle">{{ i }}</a>
          <p>Step {{ i }}</p>
        </div>

        <div class="stepwizard-step" *ngIf="currentStep === i && currentStep === step?.length">
          <a class="btn btn-primary btn-circle">
            <font color=white>Fine</font>
          </a>
          <p>Fine</p>
        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="respModulo1" class="row col-lg-12">
  <!--MODULO 1 PRIMA COL-6-->
  <div *ngIf="respModulo1" class="col-6 col-form">

    <div class="form-group row">
      <label for="exampleSelect1" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Tipologia Soggetto
      </label>
      <div class="col-10">
        <select class="form-control" id="exampleSelect1" required [(ngModel)]="schedaPersona.tipologiaSoggetto"
          (change)="onChange($event.target.value)">
          <option>Persona Fisica</option>
          <option>Persona Giuridica</option>
        </select>
      </div>
    </div>

    <div class="form-group row" *ngIf="sceltaAmbito === 'I'">
      <label for="example-text-input" class="col-2 col-form-label">Identificativo Nazionale</label>
      <div class="col-10">
        <input class="form-control" type="text" id="example-text-input"
          [(ngModel)]="schedaPersona.identificativoNazionale">
      </div>
    </div>

    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Nome
      </label>
      <div class="col-10">
        <input class="form-control" type="text" id="example-text-input" required [(ngModel)]="schedaPersona.nome"
          pattern="^([^\s])+((?!\s{2,}).)*$">
      </div>
    </div>

    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Cognome
      </label>
      <div class="col-10">
        <input class="form-control" type="text" id="example-text-input" required [(ngModel)]="schedaPersona.cognome"
          pattern="^([^\s])+((?!\s{2,}).)*$">
      </div>
    </div>

    <div class="form-group row">
      <label for="example-date-input" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Data di Nascita
      </label>
      <div class="col-10">
        <input matInput [matDatepicker]="picker" placeholder="Scegli una data" [(ngModel)]="schedaPersona.dataNascita"
          readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>

    <div class="form-group row" *ngIf="sceltaAmbito === 'R'">
      <label for="example-date-input" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Data di inserimento
      </label>
      <div class="col-10">
        <input matInput [matDatepicker]="picker" placeholder="Scegli una data"
          [(ngModel)]="schedaPersona.dataInserimento" [max]="maxDate" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>

    <div class="form-group row" *ngIf="sceltaAmbito === 'I'">
      <label for="example-text-input" class="col-2 col-form-label">Cognome di Nascita</label>
      <div class="col-10">
        <input class="form-control" type="text" id="example-text-input" [(ngModel)]="schedaPersona.cognomeNascita">
      </div>
    </div>

    <div class="form-group row" *ngIf="sceltaAmbito === 'I'">
      <label for="example-tel-input" class="col-2 col-form-label">Telefoni Professionali</label>
      <div class="col-10">
        <input class="form-control" type="tel" id="example-tel-input" [(ngModel)]="schedaPersona.telefonoProfessionale">
      </div>
    </div>

  </div>

  <!--MODULO 1 SECONDA COL-6-->
  <div *ngIf="respModulo1" class="col-6 col-form">

    <div class="form-group row" *ngIf="sceltaAmbito === 'I'">
      <label for="example-tel-input" class="col-2 col-form-label">Telefoni Privati</label>
      <div class="col-10">
        <input class="form-control" type="tel" id="example-tel-input" [(ngModel)]="schedaPersona.telefonoPrivato">
      </div>
    </div>

    <div class="form-group row" *ngIf="sceltaAmbito === 'I'">
      <label for="example-text-input" class="col-2 col-form-label">Indirizzo</label>
      <div class="col-10">
        <input class="form-control" type="text" id="example-text-input" [(ngModel)]="schedaPersona.indirizzo">
      </div>
    </div>

    <div class="form-group row" *ngIf="sceltaAmbito === 'I'">
      <label for="example-text-input" class="col-2 col-form-label">Cap</label>
      <div class="col-10">
        <input class="form-control" type="text" id="example-text-input" [(ngModel)]="schedaPersona.cap">
      </div>
    </div>

    <div class="form-group row" *ngIf="sceltaAmbito === 'I'">
      <label for="example-text-input" class="col-2 col-form-label">Località</label>
      <div class="col-10">
        <input class="form-control" type="text" id="example-text-input" [(ngModel)]="schedaPersona.localita">
      </div>
    </div>

    <div class="form-group row" *ngIf="sceltaAmbito === 'I'">
      <label for="exampleSelect1" class="col-2 col-form-label">Provincia</label>
      <div class="col-10">
        <select class="form-control" id="exampleSelect1" [(ngModel)]="schedaPersona.provincia">
          <option *ngFor="let prov of listaProvince.listaProvince"> {{prov}} </option>
        </select>
      </div>
    </div>

    <div class="form-group row" *ngIf="sceltaAmbito === 'I'">
      <label for="example-text-input" class="col-2 col-form-label">Nazione</label>
      <div class="col-10">
        <input class="form-control" type="text" id="example-text-input" [(ngModel)]="schedaPersona.nazione">
      </div>
    </div>

    <div class="form-group row" *ngIf="sceltaAmbito === 'I'">
      <label for="example-time-input" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Nome e Indirizzo dell'impresa
      </label>
      <div class="col-10">
        <input class="form-control" type="text" id="example-text-input" required
          [(ngModel)]="schedaPersona.nomeIndirizzoImpresa" pattern="^([^\s])+((?!\s{2,}).)*$">
      </div>
    </div>

    <div class="form-group row" *ngIf="sceltaAmbito === 'I'">
      <label for="example-date-input" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Data di iscrizione
      </label>
      <div class="col-10">
        <input matInput [matDatepicker]="picker" placeholder="Scegli una data"
          [(ngModel)]="schedaPersona.dataIscrizione" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>

  </div>

  <div style="height: 3rem">&nbsp;</div>

</div>

<!-- MODULO 2 (SOLO IN CASO DI PERSONA GIURIDICA)-->
<div *ngIf="respModulo2" class="row col-lg-12">

  <div *ngIf="respModulo2" class="col-lg-6">

    <div class="form-group row">
      <label for="example-tel-input" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Partita IVA
      </label>
      <div class="col-10">
        <input class="form-control" type="tel" value="" id="example-tel-input" maxlength="11" required
          [(ngModel)]="schedaPersona.partitaIva">
      </div>
    </div>

    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Ragione Sociale
      </label>
      <div class="col-10">
        <input class="form-control" type="text" value="" id="example-text-input" maxlength="20" required
          [(ngModel)]="schedaPersona.ragioneSociale">
      </div>
    </div>

  </div>
  <div *ngIf="respModulo2" class="col-lg-6"></div>

</div>

<div *ngIf="respModulo3" class="row col-lg-12">

  <div *ngIf="respModulo3" class="col-lg-6">

    <!--MODULO 3-->
    <div class="form-group row">
      <label for="exampleSelect1" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Società
      </label>
      <div class="col-10">
        <select class="form-control" id="exampleSelect1" [(ngModel)]="schedaPersona.societa" #societa="ngModel"
          required>
          <option [hidden]="true" [ngValue]="schedaPersona.societa">{{ schedaPersona.societa.nome }}</option>
          <option *ngFor="let soc of listaSocieta" [ngValue]="soc">{{ soc.nome }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Codice Fiscale
      </label>
      <div class="col-10">
        <input style="text-transform : uppercase" class="form-control" type="text" value="" id="example-text-input"
          maxlength="16" [(ngModel)]="schedaPersona.codiceFiscale" (blur)="validateCodiceFiscale($event.target.value)"
          required pattern="^([^\s])+((?!\s{2,}).)*$">
      </div>
    </div>

    <div class="form-group row" *ngIf="sceltaAmbito === 'I'">
      <label for="example-email-input" class="col-2 col-form-label">Email</label>
      <div class="col-10">
        <input class="form-control" type="email" value="" id="example-email-input" [(ngModel)]="schedaPersona.email">
      </div>
    </div>

    <div class="form-group row">
      <label for="exampleSelect1" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Ruolo
      </label>
      <div class="col-10">
        <input class="form-control" type="ruolo" value="" id="example-ruolo-input" required
          [(ngModel)]="schedaPersona.ruolo" pattern="^([^\s])+((?!\s{2,}).)*$">
      </div>
    </div>

    <div class="form-group row" *ngIf="sceltaAmbito === 'I'">
      <label for="example-text-input" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Motivo Iscrizione
      </label>
      <div class="col-10">
        <input class="form-control" type="text" value="" id="example-text-input" required
          [(ngModel)]="schedaPersona.motivoIscrizione" pattern="^([^\s])+((?!\s{2,}).)*$">
      </div>
    </div>

    <div class="form-group row" *ngIf="sceltaAmbito === 'R'">
      <label for="example-text-input" class="col-2 col-form-label">Manager di Riferimento</label>
      <div class="col-10">
        <input class="form-control" type="text" value="" id="example-text-input"
          [(ngModel)]="schedaPersona.managerRiferimento">
      </div>
    </div>

    <div class="form-group row" *ngIf="sceltaAmbito === 'I'">
      <label for="example-text-input" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Descrizione Informazione
      </label>
      <div class="col-10">
        <input class="form-control" type="text" value="" id="example-text-input" required
          [(ngModel)]="schedaPersona.descrizioneInformazione" pattern="^([^\s])+((?!\s{2,}).)*$">
      </div>
    </div>

  </div>
  <div *ngIf="respModulo3" class="col-lg-6"></div>

  <div style="height: 3rem">&nbsp;</div>

</div>

<div class="col-lg-12">

  <!-- BOTTONIERA MODULO 1-->
  <div *ngIf="respModulo1">
    <div class="d-flex col-lg-6" style="float:right">
      <button style="margin-right: 3%" type="button" class="btn btn-danger" (click)="resetModulo1()">ANNULLA</button>
      <button type="button" class="btn btn-success" (click)="setModulo1()">AVANTI</button>
    </div>
    <div class="d-flex col-lg-6"></div>
    <div style="height: 5rem">&nbsp;</div>
  </div>

  <!--BOTTONIERA MODULO 2-->
  <div *ngIf="respModulo2">
    <div class="d-flex col-lg-6" style="float:right">
      <button style="margin-right: 3%" type="button" class="btn btn-danger" (click)="resetModulo2()">INDIETRO</button>
      <button type="button" class="btn btn-success" (click)="setModulo2()">AVANTI</button>
    </div>
    <div class="d-flex col-lg-6"></div>
    <div style="height: 5rem">&nbsp;</div>
  </div>


  <!--BOTTONIERA MODULO 3-->
  <div *ngIf="respModulo3">
    <div class="d-flex col-lg-6" style="float:right">
      <button style="margin-right: 3%" type="button" class="btn btn-danger" (click)="resetModulo3()">INDIETRO</button>
      <button type="button" class="btn btn-success" (click)="setModulo3()">AVANTI</button>
    </div>
    <div class="d-flex col-lg-6"></div>
    <div style="height: 5rem">&nbsp;</div>
  </div>

</div>

<!--RIEPILOGO SCHEDA-->
<div class="col-lg-12">
  <table *ngIf="respTabella" class="table table-striped">

    <thead class="thead-inverse">
      <tr>
        <th style="color: blue">Dettagli:</th>
        <th style="color: blue">Valore:</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td><b>Società</b></td>
        <td><b>{{ schedaPersona.societa.nome }}</b></td>
      </tr>

      <tr>
        <td><b>Nome</b></td>
        <td>{{ schedaPersona.nome }}</td>
      </tr>

      <tr>
        <td><b>Cognome</b></td>
        <td>{{ schedaPersona.cognome }}</td>
      </tr>

      <tr>
        <td><b>Codice Fiscale</b></td>
        <td>{{ schedaPersona.codiceFiscale | uppercase }}</td>
      </tr>

      <tr *ngIf="sceltaAmbito === 'I'">
        <td><b>Cognome di Nascita</b></td>
        <td>{{  schedaPersona.cognomeNascita }}</td>
      </tr>

      <tr *ngIf="sceltaAmbito === 'I'">
        <td><b>Telefoni Professionali</b></td>
        <td>{{ schedaPersona.telefonoProfessionale }}</td>
      </tr>

      <tr *ngIf="sceltaAmbito === 'I'">
        <td><b>Telefoni Privati</b></td>
        <td>{{ schedaPersona.telefonoPrivato }}</td>
      </tr>

      <tr *ngIf="sceltaAmbito === 'I'">
        <td><b>Indirizzo</b></td>
        <td>{{ schedaPersona.indirizzo }}</td>
      </tr>

      <tr *ngIf="sceltaAmbito === 'I'">
        <td><b>CAP</b></td>
        <td>{{ schedaPersona.cap }}</td>
      </tr>

      <tr *ngIf="sceltaAmbito === 'I'">
        <td><b>Località</b></td>
        <td>{{ schedaPersona.localita }}</td>
      </tr>

      <tr *ngIf="sceltaAmbito === 'I'">
        <td><b>Provincia</b></td>
        <td>{{ schedaPersona.provincia }}</td>
      </tr>

      <tr *ngIf="sceltaAmbito === 'I'">
        <td><b>Nazione</b></td>
        <td>{{ schedaPersona.nazione }}</td>
      </tr>

      <tr *ngIf="sceltaAmbito === 'I'">
        <td><b>Nome Indirizzo Impresa</b></td>
        <td>{{ schedaPersona.nomeIndirizzoImpresa }}</td>
      </tr>

      <tr *ngIf="sceltaAmbito === 'I'">
        <td><b>Identificativo Nazionale</b></td>
        <td>{{ schedaPersona.identificativoNazionale }}</td>
      </tr>

      <tr>
        <td><b>Data di Nascita</b></td>
        <td>{{ schedaPersona.dataNascita | date:'dd/MM/yyyy' }}</td>
      </tr>

      <tr *ngIf="sceltaAmbito === 'R'">
        <td><b>Data di inserimento</b></td>
        <td>{{ schedaPersona.dataInserimento | date:'dd/MM/yyyy' }}</td>
      </tr>

      <tr>
        <td><b>Email</b></td>
        <td>{{ schedaPersona.email }}</td>
      </tr>

      <tr>
        <td><b>Ruolo</b></td>
        <td>{{ schedaPersona.ruolo }}</td>
      </tr>

      <tr>
        <td><b>Ragione Sociale</b></td>
        <td>{{ schedaPersona.ragioneSociale }}</td>
      </tr>

      <tr>
        <td><b>Partita Iva</b></td>
        <td>{{ schedaPersona.partitaIva }}</td>
      </tr>

      <tr>
        <td><b>Tipologia Soggetto</b></td>
        <td>{{ schedaPersona.tipologiaSoggetto }}</td>
      </tr>

      <tr *ngIf="sceltaAmbito === 'R'">
        <td><b>Manager di Riferimento</b></td>
        <td>{{ schedaPersona.managerRiferimento }}</td>
      </tr>

      <tr *ngIf="schedaPersona.stato !== 'Bozza'">
        <td><b>Codice Scheda</b></td>
        <td>{{ schedaPersona.codiceScheda }}</td>
      </tr>

      <tr *ngIf="sceltaAmbito === 'I'">
        <td><b>Motivo Iscrizione</b></td>
        <td>{{ schedaPersona.motivoIscrizione }}</td>
      </tr>

      <tr>
        <td><b>Motivo Ultima Variazione</b></td>
        <td>{{ schedaPersona.motivoUltimaVariazione }}</td>
      </tr>

      <tr *ngIf="sceltaAmbito === 'I'">
        <td><b>Data di iscrizione</b></td>
        <td>{{ schedaPersona.dataIscrizione | date:'dd/MM/yyyy' }}</td>
      </tr>

      <tr *ngIf="schedaPersona.stato === 'Cancellato' ">
        <td><b>Data di cancellazione</b></td>
        <td>{{ schedaPersona?.dataCancellazione | date:'dd/MM/yyyy' }}</td>
      </tr>

      <tr>
        <td><b>Autore</b></td>
        <td>{{ schedaPersona.autore }}</td>
      </tr>

      <tr *ngIf="sceltaAmbito === 'I'">
        <td><b>Tipo Accesso Informazione</b></td>
        <td>{{ schedaPersona.tipoAccessoInformazione }}</td>
      </tr>

      <tr *ngIf="sceltaAmbito === 'I'">
        <td><b>Descrizione Informazione</b></td>
        <td>{{ schedaPersona.descrizioneInformazione }}</td>
      </tr>

    </tbody>
  </table>
</div>

<!--BOTTONIERA-->
<div style="margin-left: 11rem; margin-top: 3%; margin-bottom: 3%" *ngIf="respTabella">

  <ng-container *ngIf="user.ruolo === 'REGISTRO_MANAGER_CONFIG' || user.ruolo === 'REGISTRO_MANAGER_GESTIONE'">
    <button *ngIf="respBottoneConferma" style="margin-right: 5%" type="button" class="btn btn-success"
      (click)="saveSchedaPersona()">CONFERMA</button>
    <button *ngIf="respBottoneModifica" style="margin-right: 5%" type="button" class="btn btn-secondary"
      (click)="editSchedaPersona()">MODIFICA</button>
    <button *ngIf="respBottoneBozza" style="margin-right: 5%" type="button" class="btn btn-warning"
      (click)="saveBozzaSchedaPersona()">SALVA</button>
  </ng-container>

  <button *ngIf="respBottoneVersioni" [routerLink]="['/visualizza-versioning', schedaPersona.idSchedaPersona]"
    routerLinkActive="router-link-active" style="margin-right: 5%" type="button" class="btn btn-dark">VERSIONI</button>
  <button *ngIf="respInformazioni" [routerLink]="['/visualizza-informazioni-collegate', schedaPersona.idSchedaPersona]"
    routerLinkActive="router-link-active" style="margin-right: 5%" type="button" class="btn btn-primary">GESTISCI
    INFORMAZIONI</button>

  <ng-container *ngIf="user.ruolo === 'REGISTRO_MANAGER_GESTIONE'">
    <button *ngIf="respBottoneEmail" style="margin-right: 5%" type="button" class="btn btn-warning"
      (click)="openModal('email')" data-toggle="modal" data-target=".bd-example-modal-lg">INVIA EMAIL</button>
    <button *ngIf="respBottoneLettera" style="margin-right: 5%" type="button" class="btn btn-info"
      (click)="openModal('lettera')" data-toggle="modal" data-target=".bd-example-modal-lg">STAMPA LETTERA</button>
    <button *ngIf="schedaPersona?.stato === 'Bozza'" type="button" class="btn btn-danger"
      (click)="deleteSchedaPersona()">ELIMINA</button>
    <button *ngIf="respBottoneElimina" type="button" class="btn btn-danger"
      (click)="deleteSchedaPersona()">ELIMINA</button>
  </ng-container>

</div>

<!--GIF-->
<div style="margin-top: 10%; margin-left: 49%" *ngIf="respGif" class="spinner-border text-primary" role="status">
  <span class="sr-only">Caricamento...</span>
</div>