<nav stickyThing style="z-index: 5;" class="navbar navbar-expand-sm">
  <ul class="navbar-nav" style="width:100%">

    <li class="nav-item dropdown margin-dx">
      <a class="nav-link dropbtn">GESTIONE PERSONE<i class="fa fa-caret-down"></i></a>
      <div class="dropdown-content">
        <a routerLink="aggiungi-persona" *ngIf="respAggiungiPersona">Aggiungi Persona</a>
        <a routerLink="find-all">Visualizza tutte le Persone</a>
        <a routerLink="visualizza-per-stato">Visualizza per Stato</a>
        <a routerLink="societa">Visualizza per Società</a>
        <a routerLink="visualizza-per-ultima-modifica">Visualizza per Ultima Modifica</a>
      </div>
    </li>

    <li *ngIf="resp" class="nav-item dropdown margin-dx">
      <a class="nav-link dropbtn">GESTIONE INFORMAZIONI<i class="fa fa-caret-down"></i></a>
      <div class="dropdown-content">
        <a routerLink="creazione-informazione" *ngIf="respCreaInformazione">Aggiungi Informazione</a>
        <a routerLink="find-all-informazioni">Visualizza tutte le Informazioni</a>
      </div>
    </li>

    <li *ngIf="respAmministrazione" class="nav-item dropdown margin-dx">
      <a class="nav-link dropbtn">AMMINISTRAZIONE<i class="fa fa-caret-down"></i></a>
      <div class="dropdown-content">
        <a routerLink="crea-template" *ngIf="respRuoloGestione && respRuoloConfig">Aggiungi Template lettere</a>
        <a routerLink="amministrazione">Visualizza tutti i template lettere</a>
        <a routerLink="visualizza-comunicazioni">Visualizza tutte le comunicazioni inviate</a>
      </div>
    </li>

    <li *ngIf="resp" class="nav-item margin-dx">
      <a routerLink="registro" class="nav-link">REGISTRO</a>
    </li>

    <li class="nav-item dropdown margin-dx">
      <a class="nav-link dropbtn" style="width: 6rem">RICERCA<i class="fa fa-caret-down"></i></a>
      <div class="dropdown-content">
        <a routerLink="ricerca" class="nav-link">Ricerca persone</a>
        <a routerLink="ricerca-per-data" class="nav-link" *ngIf="sceltaAmbito === 'I'">Ricerca accessi per data</a> 
      </div>
    </li>

    <li class="nav-item margin-dx">
      <a [href]="pathStart" (click)="setAmbito()" class="nav-link">CAMBIA REGISTRO</a>
    </li>

    <h5 style="margin-left: 15%" *ngIf="respRM">REGISTRO MANAGER</h5>
    <h6 style="margin-left: 2%" *ngIf="respRM">V.{{version}}</h6>
    <h5 *ngIf="respIL">INSIDER LIST</h5>
    <h6 style="margin-left: 2%" *ngIf="respIL">V.{{version}}</h6>

  </ul>

  <img src="/registromanager/logoSara.png">
</nav>