img {
  font-size: 75px;
  margin-right: 2%;
  width: 150px;
  float: right;
}

.dropdown-content a:hover {background-color: #D8D8D8;}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 2;
}

nav {
  background-color: #F2F2F2;
}

li {
  font-size: 17px;
  color: #09357a;
}

li:hover {
  background-color: #D8D8D8;
}

.dropdown-content a {
  color: #09357a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

a {
  color: #09357a;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F2F2F2;
}

.scritte {
  color: #09357a;
}

.margin-dx {
 margin-right: 2%;
}
