<br>

<h4 style="margin-left:3%" *ngIf="respMail">Invia Email</h4>

<h4 style="margin-left:3%" *ngIf="respLettera">Stampa Lettera</h4>

<!--BODY MAIL E LETTERA-->
<div class="modal-body">

  <div class="form-group row">
    <label for="exampleSelect1" class="col-2 col-form-label">Seleziona un template</label>
    <div class="col-10">
      <select class="form-control" id="exampleSelect1" [(ngModel)]="template" (ngModelChange)="onChange($event)"
        required>
        <option *ngFor="let l of listaTemplate" [ngValue]="l">{{ l.nomeTemplate }}</option>
      </select>
    </div>
  </div>

  <div *ngIf="respMail" class="form-group row">
    <label for="exampleSelect1" class="col-2 col-form-label">Persone in CC</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" [(ngModel)]="personeCc">
    </div>
  </div>

  <label *ngIf="respMail" for="exampleSelect2" class="col-2 col-form-label">Separare gli indirizzi email con un ;</label>

  <div *ngIf="respMail" class="form-group row">
    <label for="exampleSelect1" class="col-2 col-form-label">Oggetto</label>
    <div class="col-10">
      <input class="form-control" type="text" id="example-text-input" [(ngModel)]="oggetto">
    </div>
  </div>

  <div class="form-group row">
    <textarea rows="14" class="col-12" [(ngModel)]="defaultTemplate">
              {{defaultTemplate}}
        </textarea>
  </div>

</div>

<!--BOTTONIERA MAIL-->
<div class="modal-footer" *ngIf="respMail">
  <div style="margin-left: 65%; margin-top: 3%; margin-bottom: 3%" class="d-flex">

    <button style="margin-left: -10%" type="button" class="btn btn-success" (click)="inviaMail()"
      [disabled]="!template || !oggetto || !defaultTemplate">CONFERMA</button>
    <button style="margin-left: 7%" type="button" class="btn btn-danger" (click)="annullaScelta()">ANNULLA</button>

  </div>
</div>

<!--BOTTONIERA LETTERA-->
<div class="modal-footer" *ngIf="respLettera">
  <div style="margin-left: 65%; margin-top: 3%; margin-bottom: 3%" class="d-flex">

    <button style="margin-left: -10%" type="button" class="btn btn-success" (click)="stampaLettera()"
      [disabled]="!template || !defaultTemplate">CONFERMA</button>
    <button style="margin-left: 7%" type="button" class="btn btn-danger" (click)="annullaScelta()">ANNULLA</button>

  </div>
</div>