.mat-tab-group {
  margin-bottom: 48px;
}

table {
  width: 100%;
}

th.-sorted {
  color: black;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 0.6rem;
}

.error-message{
  color: red;
  margin-top: 10%;
  text-align: center !important;
}