<div class="text-center">
  <p class="h1" style="margin-top: 1%; color: #09357a">ELENCO PERSONE PER SOCIETÀ</p>
</div>

<div style="width: 100%" class="container">

  <form style="margin-top: 3%" class="form-group row">

    <label for="exampleSelect1" class="col-3 col-form-label">Seleziona Società</label>

    <div class="col-6">
      <select class="form-control" id="exampleSelect1" [(ngModel)]="societaInserita" name="nomeSocieta">
        <option *ngFor="let soc of listaSocieta" [ngValue]="soc.nome">{{ soc.nome }}</option>
      </select>
    </div>

  </form>

  <form style="margin-left: 26%" class="form-group row">

    <button class="col-3" type="button" class="btn btn-success" (click)="selectSocieta()">Cerca</button>
    <button class="col-3" style="margin-left: 1%" type="button" class="btn btn-secondary" *ngIf="respAggiungiSocieta"
      (click)="open()">Aggiungi Società</button>
    <button class="col-3" style="margin-left: 1%" type="button" class="btn btn-danger" *ngIf="respRimuoviSocieta"
      (click)="openModalDelete()">Rimuovi Società</button>
    <button class="col-3" style="margin-left: 1%" type="reset" class="btn btn-warning"
      (click)="annullaSocietaInserita()">Annulla</button>

  </form>

</div>

<div *ngIf="respMessaggioErrore">
  <h1 class="error-message">{{ messaggioErrore }}</h1>
</div>

<div>
  <div *ngIf="respTabella">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Schede Persona">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource1" matSort>

            <ng-container matColumnDef="1">
              <th mat-header-cell *matHeaderCellDef>STATO</th>
              <td mat-cell *matCellDef="let element">
                {{element.stato}}</td>
            </ng-container>

            <ng-container matColumnDef="2">
              <th mat-header-cell *matHeaderCellDef>NOME</th>
              <td mat-cell *matCellDef="let element">
                {{element.nome}}</td>
            </ng-container>

            <ng-container matColumnDef="3">
              <th mat-header-cell *matHeaderCellDef>COGNOME</th>
              <td mat-cell *matCellDef="let element">
                {{element.cognome}}</td>
            </ng-container>

            <ng-container matColumnDef="4">
              <th mat-header-cell *matHeaderCellDef>CODICE SCHEDA</th>
              <td mat-cell *matCellDef="let element">
                {{element.codiceScheda}}</td>
            </ng-container>

            <ng-container matColumnDef="5">
              <th mat-header-cell *matHeaderCellDef>TIPOLOGIA</th>
              <td mat-cell *matCellDef="let element">
                {{element.tipologiaSoggetto}}</td>
            </ng-container>

            <ng-container matColumnDef="6">
              <th mat-header-cell *matHeaderCellDef>SOCIETÀ</th>
              <td mat-cell *matCellDef="let element">
                {{element.societa.nome}}</td>
            </ng-container>

            <ng-container matColumnDef="7">
              <th mat-header-cell *matHeaderCellDef>RUOLO</th>
              <td mat-cell *matCellDef="let element">
                {{element.ruolo}}</td>
            </ng-container>

            <ng-container matColumnDef="8">
              <th mat-header-cell *matHeaderCellDef>DATA ISCRIZIONE</th>
              <td mat-cell *matCellDef="let element">
                {{element.dataIscrizione | date:'dd/MM/yyyy'}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row [routerLink]="['/visualizza-scheda-persona', row.idSchedaPersona]"
              routerLinkActive="router-link-active" *matRowDef="let row; columns: displayedColumns1;"></tr>
          </table>

          <br> <br>

          <div class="text-center">
            <a [href]="pathExportExcel">
              <button style="margin-top: 1%; margin-left: 1%;" class="btn btn-info"> Esporta file Excel </button>
            </a>
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div style="margin-top: 10%; margin-left: 49%" *ngIf="respGif" class="spinner-border text-primary" role="status">
    <span class="sr-only">Caricamento...</span>
  </div>

</div>

<div style="height: 3rem">&nbsp;</div>