.mat-tab-group {
  margin-bottom: 48px;
}

table {
  width: 100%;
}

th.-sorted {
  color: black;
}

.mdClass{
  max-width: 700px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 1rem;
}

.error-message{
  color: red;
  margin-top: 10%;
  text-align: center !important;
}