<div class="text-center">
  <p class="h1" style="margin-top: 1%; color: #09357a">INFORMAZIONI PRIVILEGIATE</p>
</div>

<div style="margin-top: 3%">
  <div *ngIf="respTabella">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Tutte le Informazioni">

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource1" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="1">
              <th mat-header-cell *matHeaderCellDef >INFORMAZIONE PRIVILEGIATA</th>
              <td mat-cell *matCellDef="let element">
                {{element.informazionePrivilegiata}}</td>
            </ng-container>

            <ng-container matColumnDef="2">
              <th mat-header-cell *matHeaderCellDef >DATA IDENTIFICAZIONE</th>
              <td mat-cell *matCellDef="let element">
                {{element.dataIdentificazione | date:'dd/MM/yyyy'}}</td>
            </ng-container>

            <ng-container matColumnDef="3">
              <th mat-header-cell *matHeaderCellDef >ORA IDENTIFICAZIONE</th>
              <td mat-cell *matCellDef="let element">
                {{element.oraIdentificazione }}</td>
            </ng-container>

            <ng-container matColumnDef="4">
              <th mat-header-cell *matHeaderCellDef >DATA ULTIMA MODIFICA</th>
              <td mat-cell *matCellDef="let element">
                {{element.dataUltimoAggiornamentoInfo | date:'dd/MM/yyyy'}}</td>
            </ng-container>

            <ng-container matColumnDef="5">
              <th mat-header-cell *matHeaderCellDef >DATA ULTIMO AGGIORNAMENTO SEZIONE ACCESSI</th>
              <td mat-cell *matCellDef="let element">
                {{element.dataSezione | date:'dd/MM/yyyy'}}</td>
            </ng-container>

            <ng-container matColumnDef="6">
              <th mat-header-cell *matHeaderCellDef >DATA CESSAZIONE</th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.dataCessazioneInformazione !== null ">
                  {{element.dataCessazioneInformazione | date:'dd/MM/yyyy'}}
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="7">
              <th mat-header-cell *matHeaderCellDef >ORA CESSAZIONE</th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.dataCessazioneInformazione !== null ">
                  {{element.oraCessazioneInformazione }}
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="8">
              <th mat-header-cell *matHeaderCellDef >STATO</th>
              <td mat-cell *matCellDef="let element">
                {{element.stato}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row [routerLink]="['/visualizza-scheda-informazioni', row.idSchedaInformazione]"
              routerLinkActive="router-link-active" *matRowDef="let row; columns: displayedColumns1;"></tr>
          </table>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>

  <div style="margin-top: 10%; margin-left: 49%" *ngIf="respGif" class="spinner-border text-primary" role="status">
    <span class="sr-only">Caricamento...</span>
  </div>

  <div *ngIf="respMessaggioErrore">
    <h1 class="error-message">{{ messaggioErrore }}</h1>
  </div>

</div>

<div style="height: 3rem">&nbsp;</div>