.mat-tab-group {
  margin-bottom: 48px;
}

table {
  width: 100%;
}

th.-sorted {
  color: black;
}

.error-message{
  color: red;
  margin-top: 10%;
  text-align: center !important;
}