<div class="text-center">
  <p class="h1" style="margin-top: 1%; color: #09357a">COMUNICAZIONE INVIATA</p>
</div>

<!--RIEPILOGO TEMPLATE-->
<div class="row justify-content-center">
  <div class="col-8" style="margin-top: 1rem">

    <div class="col-lg-12">
      <table class="table table-striped">
        <thead class="thead-inverse">

          <tr>
            <th style="color: red">Dettagli:</th>
            <th style="color: blue">Valore:</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td><b>Data di invio</b></td>
            <td>{{ comunicazionePersona?.pk?.comunicazione?.dataInvio | date:'dd/MM/yyyy' }}</td>
          </tr>

          <tr>
            <td><b>Tipo</b></td>
            <td *ngIf="comunicazionePersona?.pk?.comunicazione?.tipo === 'L'">Lettera</td>
            <td *ngIf="comunicazionePersona?.pk?.comunicazione?.tipo === 'M'">Email</td>
          </tr>

          <tr *ngIf="comunicazionePersona?.pk?.comunicazione?.tipo === 'M'">
            <td><b>Mittente</b></td>
            <td><b>{{ comunicazionePersona?.pk?.comunicazione?.mittente }}</b></td>
          </tr>

          <tr *ngIf="comunicazionePersona?.pk?.comunicazione?.tipo === 'M'">
            <td><b>Oggetto</b></td>
            <td>{{ comunicazionePersona?.pk?.comunicazione?.oggetto }}</td>
          </tr>

          <tr *ngIf="comunicazionePersona?.pk?.comunicazione?.tipo === 'M' && comunicazionePersona?.pk?.comunicazione?.template?.personeCc !== null">
            <td><b>Persone in CC</b></td>
            <td>{{ comunicazionePersona?.pk?.comunicazione?.template?.personeCc }}</td>
          </tr>

          <tr>
            <td><b>Testo</b></td>
            <td>{{ comunicazionePersona?.pk?.comunicazione?.testo }}</td>
          </tr>

          <tr>
            <td><b>Destinatario</b></td>
            <td>{{ comunicazionePersona?.pk?.schedaPersona?.nome }} {{ comunicazionePersona?.pk?.schedaPersona?.cognome }} <b *ngIf="comunicazionePersona?.pk?.comunicazione?.tipo === 'M'"> ({{comunicazionePersona?.pk?.schedaPersona?.email}})</b>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>

<!--BOTTONIERA-->

<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-danger" (click)="navigateToFindAll()">INDIETRO</button>
</div>

<div style="height: 3rem">&nbsp;</div>