<div class="text-center">
  <p class="h1" style="margin-top: 1%; color: #09357a">ELENCO PERSONE</p>
</div>

<div style="margin-top: 3%">
  <div *ngIf="respTabella">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Tutte le Schede Persona">

        <!--FIND ALL PERSONE REGISTRO MANAGER-->
        <div *ngIf="sceltaAmbito === 'R'">
          <table mat-table [dataSource]="dataSource1" matSort>

            <ng-container matColumnDef="1">
              <th mat-header-cell *matHeaderCellDef >STATO</th>
              <td mat-cell *matCellDef="let element">
                {{element.stato}}</td>
            </ng-container>

            <ng-container matColumnDef="2">
              <th mat-header-cell *matHeaderCellDef >NOME</th>
              <td mat-cell *matCellDef="let element">
                {{element.nome}}</td>
            </ng-container>

            <ng-container matColumnDef="3">
              <th mat-header-cell *matHeaderCellDef >COGNOME</th>
              <td mat-cell *matCellDef="let element">
                {{element.cognome}}</td>
            </ng-container>

            <ng-container matColumnDef="4">
              <th mat-header-cell *matHeaderCellDef >CODICE SCHEDA</th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.stato !=='Bozza'">
                  {{element.codiceScheda}}
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="5">
              <th mat-header-cell *matHeaderCellDef >TIPOLOGIA</th>
              <td mat-cell *matCellDef="let element">
                {{element.tipologiaSoggetto}}</td>
            </ng-container>

            <ng-container matColumnDef="6">
              <th mat-header-cell *matHeaderCellDef >SOCIETÀ</th>
              <td mat-cell *matCellDef="let element">
                {{element.societa.nome}}</td>
            </ng-container>

            <ng-container matColumnDef="7">
              <th mat-header-cell *matHeaderCellDef >RUOLO</th>
              <td mat-cell *matCellDef="let element">
                {{element.ruolo}}</td>
            </ng-container>

            <ng-container matColumnDef="8">
              <th mat-header-cell *matHeaderCellDef >DATA INSERIMENTO</th>
              <td mat-cell *matCellDef="let element">
                {{element.dataInserimento | date:'dd/MM/yyyy'}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row [routerLink]="['/visualizza-scheda-persona', row.idSchedaPersona]"
              routerLinkActive="router-link-active" *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
        </div>

        <!--FIND ALL PERSONE INSIDER LIST-->
        <div *ngIf="sceltaAmbito === 'I'">
          <table mat-table [dataSource]="dataSource1" matSort>

            <ng-container matColumnDef="1">
              <th mat-header-cell *matHeaderCellDef >STATO</th>
              <td mat-cell *matCellDef="let element">
                {{element.stato}}</td>
            </ng-container>

            <ng-container matColumnDef="2">
              <th mat-header-cell *matHeaderCellDef >NOME</th>
              <td mat-cell *matCellDef="let element">
                {{element.nome}}</td>
            </ng-container>

            <ng-container matColumnDef="3">
              <th mat-header-cell *matHeaderCellDef >COGNOME</th>
              <td mat-cell *matCellDef="let element">
                {{element.cognome}}</td>
            </ng-container>

            <ng-container matColumnDef="4">
              <th mat-header-cell *matHeaderCellDef >CODICE SCHEDA</th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.stato !=='Bozza'">
                  {{element.codiceScheda}}
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="5">
              <th mat-header-cell *matHeaderCellDef >TIPOLOGIA</th>
              <td mat-cell *matCellDef="let element">
                {{element.tipologiaSoggetto}}</td>
            </ng-container>

            <ng-container matColumnDef="6">
              <th mat-header-cell *matHeaderCellDef >SOCIETÀ</th>
              <td mat-cell *matCellDef="let element">
                {{element.societa.nome}}</td>
            </ng-container>

            <ng-container matColumnDef="7">
              <th mat-header-cell *matHeaderCellDef >RUOLO</th>
              <td mat-cell *matCellDef="let element">
                {{element.ruolo}}</td>
            </ng-container>

            <ng-container matColumnDef="8">
              <th mat-header-cell *matHeaderCellDef >DATA ISCRIZIONE</th>
              <td mat-cell *matCellDef="let element">
                {{element.dataIscrizione | date:'dd/MM/yyyy'}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row [routerLink]="['/visualizza-scheda-persona', row.idSchedaPersona]"
              routerLinkActive="router-link-active" *matRowDef="let row; columns: displayedColumns1;"></tr>
          </table>
        </div>

        <br> <br>

        <div class="text-center">
          <a [href]="pathExportExcel">
            <button style="margin-top: 1%; margin-left: 1%;" class="btn btn-info"> Esporta file Excel </button>
          </a>
        </div>

      </mat-tab>

    </mat-tab-group>
  </div>

  <div style="margin-top: 10%; margin-left: 49%" *ngIf="respGif" class="spinner-border text-primary text-center"
    role="status">
    <span class="sr-only">Caricamento...</span>
  </div>

  <div *ngIf="respMessaggioErrore">
    <h1 class="error-message">{{ messaggioErrore }}</h1>
  </div>

</div>

<div style="height: 3rem">&nbsp;</div>