<div class="text-center">
  <p class="h1" style="margin-top: 1%; color: #09357a">AGGIUNGI TEMPLATE LETTERE</p>
</div>

<!--RIEPILOGO TEMPLATE-->
<div class="row justify-content-center" *ngIf="respTemplate">
  <div class="col-8" style="margin-top: 1rem">

    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Nome Template:</label>
      <div class="col-8">
        <input class="form-control" type="text" id="example-text-input" [(ngModel)]="template.nomeTemplate">
      </div>
    </div>

    <!--TESTO TEMPLATE-->
    <div class="form-group row" style="margin-left: 8.5rem">
        <textarea cols="90" rows="15" [(ngModel)]="template.testo">{{template.testo}}</textarea>
  
        <!--LEGENDA PLACEHOLDER TEMPLATE-->
        <div class="col-2 valori-persona">
          <b>Placeholder Template:</b>
          <br><br>
          <div *ngFor="let l of legenda">
            <b>{{ l }}</b>
          </div>
        </div>
  
      </div>

  </div>
</div>

<!--BOTTONIERA-->

<div class="d-flex justify-content-center">

  <button style="margin-right: 3%" type="button" class="btn btn-success" (click)="saveTemplate()"
    [disabled]="controlField()">CONFERMA</button>
  <button type="button" class="btn btn-danger" (click)="annullaModifica()">ANNULLA</button>

</div>