<div class="container" style="margin-left: 1%; margin-top: 1%">

  <div class="row">
    <div class="col-lg-12">
      <p class="h1" style="margin-left: 48%; color: #09357a">RICERCA PERSONE</p>
    </div>
  </div>

  <div class="form-group row ricerca">
    <div *ngIf="respModulo1" class="col-6 col-form ricerca-respModule">

      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Società</label>
        <div class="col-10">
          <select class="form-control" id="exampleSelect1" [(ngModel)]="societa" required>
            <option *ngFor="let soc of listaSocieta" [ngValue]="soc.nome">{{ soc.nome }}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Nome</label>
        <div class="col-10">
          <input class="form-control" type="text" id="example-text-input" [(ngModel)]="nome">
        </div>
      </div>

      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Cognome</label>
        <div class="col-10">
          <input class="form-control" type="text" id="example-text-input" [(ngModel)]="cognome">
        </div>
      </div>

      <div class="form-group row" *ngIf="sceltaAmbito === 'I' ">
        <label for="example-text-input" class="col-2 col-form-label">Motivo Iscrizione</label>
        <div class="col-10">
          <input class="form-control" type="text" id="example-text-input" [(ngModel)]="motivoIscrizione">
        </div>
      </div>

      <div class="d-flex ricerca-button">
        <button style="margin-right: 3%" type="button" class="btn btn-success" (click)="searchPersone()">CERCA</button>
        <button type="button" class="btn btn-danger" (click)="resetModulo()">ANNULLA</button>
      </div>

    </div>
  </div>

  <div class="ricerca-tabella">

    <div style="margin-top: 3%">
      <div *ngIf="respTabella">
          <mat-tab-group mat-align-tabs="center">
              <mat-tab label="Schede Persona">
    
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource1" matSort>

                <ng-container matColumnDef="1">
                  <th mat-header-cell *matHeaderCellDef >STATO</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.stato}}</td>
                </ng-container>

                <ng-container matColumnDef="2">
                  <th mat-header-cell *matHeaderCellDef >NOME</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.nome}}</td>
                </ng-container>

                <ng-container matColumnDef="3">
                  <th mat-header-cell *matHeaderCellDef >COGNOME</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.cognome}}</td>
                </ng-container>

                <ng-container matColumnDef="4">
                  <th mat-header-cell *matHeaderCellDef >CODICE SCHEDA</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.codiceScheda}}</td>
                </ng-container>

                <ng-container matColumnDef="5">
                  <th mat-header-cell *matHeaderCellDef >TIPOLOGIA</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.tipologiaSoggetto}}</td>
                </ng-container>

                <ng-container matColumnDef="6">
                  <th mat-header-cell *matHeaderCellDef >SOCIETÀ</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.societa.nome}}</td>
                </ng-container>

                <ng-container matColumnDef="7">
                  <th mat-header-cell *matHeaderCellDef >RUOLO</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.ruolo}}</td>
                </ng-container>

                <ng-container matColumnDef="8">
                  <th mat-header-cell *matHeaderCellDef >DATA ISCRIZIONE</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.dataIscrizione | date:'dd/MM/yyyy'}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-row [routerLink]="['/visualizza-scheda-persona', row.idSchedaPersona]"
                  routerLinkActive="router-link-active" *matRowDef="let row; columns: displayedColumns1;"></tr>
              </table>

              <br> <br>

              <div class="text-center">
                <a [href]="pathExportExcel">
                  <button style="margin-top: 1%; margin-left: 1%;" class="btn btn-info"> Esporta file Excel </button>
                </a>
              </div>

            </div>
          </mat-tab>

        </mat-tab-group>
      </div>

      <div style="margin-top: 10%; margin-left: 49%" *ngIf="respGif" class="spinner-border text-primary text-center"
        role="status">
        <span class="sr-only">Caricamento...</span>
      </div>

      <div *ngIf="respMessaggioPersoneAssenti">
        <h1 class="error-message">Non sono presenti persone con questi parametri</h1>
      </div>

    </div>

  </div>
</div>

<div style="height: 6rem">&nbsp;</div>