.mat-tab-group {
    margin-bottom: 48px;
  }
  
  table {
    width: 100%;
  }
  

  
  .ricerca{
    margin-top: 2%; 
    width: 1500px;
  }

  .ricerca-respModule{
    margin-left: 22%;
  }

  .ricerca-button{
    margin-left: 40%;
  }

  .ricerca-tabella{
    margin-left: 5%;
    width: 1300px;
  }

  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 1rem;
  }

  .error-message {
    color: red;
    margin-top: 10%;
    text-align: center !important;
  }