.mat-tab-group {
  margin-bottom: 48px;
}

table {
  width: 100%;
}

th.-sorted {
  color: black;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 1rem;
}

.error-message {
  color: red;
  margin-top: 10%;
  text-align: center !important;
}

.h1 {
  margin-top: 1%;
  color: #09357a;
}

.row {
  margin-left: 0.5rem;
}

.custom-registro {
  margin-top: 3%;
  margin-left: 2%;
  width: 90rem;
}