<div class="text-center">
  <p class="h1">REGISTRO</p>
</div>

<div class="custom-registro">
  <div *ngIf="respTabella">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Persone con accesso permanente">

        <div>
          <table mat-table [dataSource]="dataSourcePerm" matSort>

            <ng-container matColumnDef="1">
              <th mat-header-cell *matHeaderCellDef>ACCEDE</th>
              <td mat-cell *matCellDef="let element">
                <ng-container
                  *ngIf="element?.dataCessazioneInformazione === '' && element?.dataAccessoInformazione !== ''">
                  SI
                </ng-container>
                <ng-container
                  *ngIf="element?.dataCessazioneInformazione !== '' && element?.dataAccessoInformazione !== ''">
                  NO
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="2">
              <th mat-header-cell *matHeaderCellDef>NOME</th>
              <td mat-cell *matCellDef="let element">
                {{element.nome}}</td>
            </ng-container>

            <ng-container matColumnDef="3">
              <th mat-header-cell *matHeaderCellDef>COGNOME</th>
              <td mat-cell *matCellDef="let element">
                {{element.cognome}}</td>
            </ng-container>

            <ng-container matColumnDef="4">
              <th mat-header-cell *matHeaderCellDef>CODICE SCHEDA</th>
              <td mat-cell *matCellDef="let element">
                {{element.codiceScheda}}</td>
            </ng-container>

            <ng-container matColumnDef="5">
              <th mat-header-cell *matHeaderCellDef>SOCIETÀ</th>
              <td mat-cell *matCellDef="let element">
                {{element.societa}}</td>
            </ng-container>

            <ng-container matColumnDef="6">
              <th mat-header-cell *matHeaderCellDef>RUOLO</th>
              <td mat-cell *matCellDef="let element">
                {{element.ruolo}}</td>
            </ng-container>

            <ng-container matColumnDef="7">
              <th mat-header-cell *matHeaderCellDef>DATA ACCESSO</th>
              <td mat-cell *matCellDef="let element">
                {{element.dataAccessoInformazione}}</td>
            </ng-container>

            <ng-container matColumnDef="8">
              <th mat-header-cell *matHeaderCellDef>DATA CESSAZIONE</th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element?.dataCessazioneInformazione !== ''">
                  {{element.dataCessazioneInformazione }}
                </ng-container>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsPerm"></tr>
            <tr mat-row [routerLink]="['/visualizza-scheda-persona', row.idSchedaPersona]"
              routerLinkActive="router-link-active" *matRowDef="let row; columns: displayedColumnsPerm;"></tr>
          </table>
        </div>

        <div *ngIf="respMessaggioErroreInfoPerm">
          <h1 class="error-message">
            {{ messaggioErrorePerm }}</h1>
        </div>

        <br> <br>

        <div class="text-center" *ngIf="!respMessaggioErroreInfoPerm">
          <a [href]="pathExportExcelPerm">
            <button style="margin-top: 1%; margin-left: 1%;" class="btn btn-info">Esporta File Excel</button>
          </a>
        </div>

      </mat-tab>

      <mat-tab label="Persone con accesso solo ad alcune informazioni privilegiate" style="width:50%">
        <div>
          <table mat-table [dataSource]="dataSourceLim" matSort>

            <ng-container matColumnDef="1">
              <th mat-header-cell *matHeaderCellDef class="checkBox">
                <div class="row">
                  Seleziona Tutto<input type="checkbox" style="margin-left: 0.5rem; margin-top: 3px"
                    [(ngModel)]="selectedAll" (ngModelChange)="selectAll()">
                </div>
              </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <ng-container *ngIf="element?.info !== ''">
                  <input type="checkbox" [(ngModel)]="check[i]" style="margin-left: 3rem">
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="2">
              <th mat-header-cell *matHeaderCellDef>INFORMAZIONE PRIVILEGIATA</th>
              <td mat-cell *matCellDef="let element">
                {{element.info}}</td>
            </ng-container>

            <ng-container matColumnDef="3">
              <th mat-header-cell *matHeaderCellDef>ACCEDE</th>
              <td mat-cell *matCellDef="let element">
                <ng-container
                  *ngIf="element?.dataCessazioneInformazione === '' && element?.dataAccessoInformazione !== ''">
                  SI
                </ng-container>
                <ng-container
                  *ngIf="element?.dataCessazioneInformazione !== '' && element?.dataAccessoInformazione !== ''">
                  NO
                </ng-container>
              </td>
            </ng-container>

            <ng-container matColumnDef="4">
              <th mat-header-cell *matHeaderCellDef>NOME</th>
              <td mat-cell *matCellDef="let element">
                {{element.nome}}</td>
            </ng-container>

            <ng-container matColumnDef="5">
              <th mat-header-cell *matHeaderCellDef>COGNOME</th>
              <td mat-cell *matCellDef="let element">
                {{element.cognome}}</td>
            </ng-container>

            <ng-container matColumnDef="6">
              <th mat-header-cell *matHeaderCellDef>CODICE SCHEDA</th>
              <td mat-cell *matCellDef="let element">
                {{element.codiceScheda}}</td>
            </ng-container>

            <ng-container matColumnDef="7">
              <th mat-header-cell *matHeaderCellDef>SOCIETÀ</th>
              <td mat-cell *matCellDef="let element">
                {{element.societa}}</td>
            </ng-container>

            <ng-container matColumnDef="8">
              <th mat-header-cell *matHeaderCellDef>RUOLO</th>
              <td mat-cell *matCellDef="let element">
                {{element.ruolo}}</td>
            </ng-container>

            <ng-container matColumnDef="9">
              <th mat-header-cell *matHeaderCellDef>DATA ACCESSO</th>
              <td mat-cell *matCellDef="let element">
                {{element.dataAccessoInformazione }}</td>
            </ng-container>

            <ng-container matColumnDef="10">
              <th mat-header-cell *matHeaderCellDef>DATA CESSAZIONE</th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element?.dataCessazioneInformazione !== ''">
                  {{element.dataCessazioneInformazione }}
                </ng-container>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsLim"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsLim;"
              (click)="controlField(row.info, row.idSchedaPersona)"></tr>
          </table>
        </div>

        <div *ngIf="respMessaggioErroreInfoLim">
          <h1 class="error-message">
            {{ messaggioErroreLim }}</h1>
        </div>

        <br> <br>

        <div class="text-center" *ngIf="!respMessaggioErroreInfoLim">
          <a [href]="pathExportExcelLim">
            <button style="margin-top: 1%; margin-left: 1%;" class="btn btn-info" [disabled]="!controlCheck()"
              (click)="setUrl()">Esporta File Excel</button>
          </a>
        </div>

      </mat-tab>

    </mat-tab-group>
  </div>

</div>

<div style="margin-top: 10%; margin-left: 60%" *ngIf="respGif" class="spinner-border text-primary" role="status">
  <span class="sr-only">Caricamento...</span>
</div>

<div style="height: 6rem">&nbsp;</div>