<div style="margin-top: 5%" class="flex center  error" >

  <h2 style="color:white">
     {{error}}
  </h2>

</div>

<div style="margin-top: 5%" class="flex center  text" >
<h2  style="color: red; margin-left: 9%">SEI FINITO SU UNA PAGINA DI ERRORE PER TORNARE ALLA HOME CLICCA QUI</h2>
<h2 style="color: blue; margin-left: 42%" [routerLink]="['/selezione-ambito']" routerLinkActive="router-link-active">Vai alla Home</h2>
</div>
