.error {
  margin-top: 15%;
  color:red;
  border: solid  2.5px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 25px;
  border-radius: 25px;
  background-color: #ff9999;
}

.text {
  margin-top: 15%;
  color:#1e90ff;
  border: solid  2.5px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 25px;
  border-radius: 25px;
  background-color: #e0ffff;
}
