<div class="text-center">
  <p class="h1" style="margin-top: 1%; color: #09357a">Scheda Informazione</p>
</div>

<br><br>

<table *ngIf="respTabella" class="table table-striped">
  <thead class="thead-inverse">
    <!--qui definiamo le colonne della tabella -->
    <tr>
      <th style="color: red">Dettagli:</th>
      <th style="color: blue">Valore:</th>
    </tr>
  </thead>
  <!-- qua definiamo le righe della tabella -->
  <tbody>
    <tr>
      <td><b>Informazione Privilegiata</b></td>
      <td>{{ schedaInformazione?.informazionePrivilegiata }}</td>
    </tr>
    <tr>
      <td><b>Data di identificazione</b></td>
      <td>{{ schedaInformazione?.dataIdentificazione | date:'dd/MM/yyyy' }}</td>
    </tr>
    <tr>
      <td><b>Ora di identificazione</b></td>
      <td>{{ schedaInformazione?.oraIdentificazione }}</td>
    </tr>
    <tr *ngIf="schedaInformazione.dataCessazioneInformazione !== null">
      <td><b>Data di cessazione</b></td>
      <td>{{ schedaInformazione?.dataCessazioneInformazione | date:'dd/MM/yyyy' }}</td>
    </tr>
    <tr *ngIf="schedaInformazione.oraCessazioneInformazione !== null">
      <td><b>Ora di cessazione</b></td>
      <td>{{ schedaInformazione?.oraCessazioneInformazione  }}</td>
    </tr>
    <tr>
      <td><b>Data ultima modifica</b></td>
      <td>{{ schedaInformazione?.dataUltimoAggiornamentoInfo | date:'dd/MM/yyyy' }}</td>
    </tr>
    <tr>
      <td><b>Stato</b></td>
      <td>{{ schedaInformazione?.stato }}</td>
    </tr>
    <tr>
      <td><b>Autore</b></td>
      <td>{{ schedaInformazione?.autoreInformazione }}</td>
    </tr>
    <tr *ngIf="schedaInformazione.dataSezione !== null">
      <td><b>Data ultimo aggiornamento sezione accessi</b></td>
      <td>{{ schedaInformazione?.dataSezione | date:'dd/MM/yyyy HH:mm' }}</td>
    </tr>
  </tbody>
</table>

<div style="height: 3rem">&nbsp;</div>

<div *ngIf="respTabellaInformazioni" class="tabella">

  <br>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Persone che vi hanno accesso">

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="Nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="Cognome">
            <th mat-header-cell *matHeaderCellDef>Cognome</th>
            <td mat-cell *matCellDef="let element"> {{element.cognome}} </td>
          </ng-container>

          <ng-container matColumnDef="Società">
            <th mat-header-cell *matHeaderCellDef>Società</th>
            <td mat-cell *matCellDef="let element"> {{element.societa.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="Tipo di accesso">
            <th mat-header-cell *matHeaderCellDef>Data di accesso</th>
            <td mat-cell *matCellDef="let element">

              <ng-container *ngFor="let i of accessList">
                <ng-container *ngIf="element?.idSchedaPersona === i?.schedaPersona?.idSchedaPersona">
                  {{ i.dataAccessoInformazione | date:'dd/MM/yyyy' }}
                </ng-container>
              </ng-container>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row [routerLink]="['/visualizza-scheda-persona', row.idSchedaPersona]"
            routerLinkActive="router-link-active" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[5,10,20]"
          (page)="pageEvent = getPaginaSchedaPersona($event)"></mat-paginator>
      </div>

    </mat-tab>

  </mat-tab-group>

</div>

<br><br>

<div class="text-center" style="margin-bottom: 5%">
  <button style="margin-right: 1%" type="button" class="btn btn-secondary" *ngIf="respBottoneModifica"
    [disabled]="schedaInformazione?.stato ==='Cessata'" (click)="editSchedaInformazione()">MODIFICA</button>
  <button type="button" class="btn btn-danger" *ngIf="respBottoneElimina" (click)="deleteSchedaInformazione()"
    [disabled]="schedaInformazione?.informazionePrivilegiata === 'Accesso Permanente' || schedaInformazione?.stato === 'Permanente' || schedaInformazione?.stato ==='Cessata'">ELIMINA</button>
</div>

<div style="margin-top: 10%; margin-left: 49%" *ngIf="respGif" class="spinner-border text-primary" role="status">
  <span class="sr-only">Caricamento...</span>
</div>

<div style="height: 6rem">&nbsp;</div>