<!--BODY ELIMINA INFORMAZIONE-->
<div class="modal-body" *ngIf="action === 1 || schedaInformazione.stato === 'Cessata'">
	<div class="col-12 col-form">
		<div class="form-group row">

			<div class="d-flex col-12">
				<label for="example-text-input" class="col-2 col-form-label">
					<font color=#FF0000>*</font>Informazione Pivilegiata
				</label>

				<div class="col-10">
					<input class="form-control" type="text" id="example-text-input" placeholder="{{informazionePrivilegiata}}" readonly>
				</div>
			</div>

			<div class="d-flex col-12">
				<label for="example-date-input" class="col-2 col-form-label">
					<font color=#FF0000>*</font>Data di Cessazione (inserire in formato
					UTC)
				</label>

				<div class="col-4">
					<input matInput [matDatepicker]="picker" placeholder="Scegli una data"
						[(ngModel)]="dataCessazione" [min]="dataIdentificazione"
						readonly>
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</div>

				<label for="example-date-input" class="col-2 col-form-label">
					<font color=#FF0000>*</font>Ora di Cessazione (inserire in formato
					UTC)
				</label>

				<div class="col-4">
					<input class="form-control" type="time" id="example-date-input" required
						[(ngModel)]="oraCessazione">
				</div>

			</div>
		</div>
	</div>
</div>


<!--BODY MODIFICA INFORMAZIONE-->
<div class="modal-body" *ngIf="action === 0 && schedaInformazione.stato !== 'Cessata'">
	<div class="col-12 col-form">
		<div class="form-group row">

			<div class="d-flex col-12">
				<label for="example-text-input" class="col-2 col-form-label">
					<font color=#FF0000>*</font>Informazione Pivilegiata
				</label>

				<div class="col-10">
					<input class="form-control" type="text" id="example-text-input" required
						[(ngModel)]="informazionePrivilegiata" [readOnly]="informazionePrivilegiata === 'Accesso Permanente'">
				</div>
			</div>

			<div class="d-flex col-12">
				<label for="example-date-input" class="col-2 col-form-label">
					<font color=#FF0000>*</font>Data di Identificazione (inserire in
					formato UTC)
				</label>

				<div class="col-4">
					<input matInput [matDatepicker]="picker" placeholder="Scegli una data"
						[(ngModel)]="dataIdentificazione" [max]="maxDate" readonly>
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker style="visibility: visible; z-index: -999; display: block;">
					</mat-datepicker>
				</div>

				<label for="example-date-input" class="col-2 col-form-label">
					<font color=#FF0000>*</font>Ora di Identificazione (inserire in
					formato UTC)
				</label>

				<div class="col-4">
					<input class="form-control" type="time" id="example-date-input" required
						[(ngModel)]="oraIdentificazione">
				</div>

			</div>
		</div>
	</div>
</div>

<!--BOTTONIERA ELIMINA INFORMAZIONE-->
<div class="modal-footer" *ngIf="action === 1">

	<button style="margin-right: 5%" type="button" class="btn btn-success" [disabled]="!controlField()"
		(click)="deleteInformazione()">CONFERMA</button>
	<button style="margin-right: 5%" type="button" class="btn btn-danger" (click)="annullaScelta()">ANNULLA</button>

</div>

<!--BOTTONIERA MODIFICA INFORMAZIONE-->
<div class="modal-footer" *ngIf="action === 0">

	<button style="margin-right: 5%" type="button" class="btn btn-success" [disabled]="!controlField()"
		(click)="modificaInformazione()">CONFERMA</button>
	<button style="margin-right: 5%" type="button" class="btn btn-danger" (click)="annullaScelta()">ANNULLA</button>

</div>