<div *ngIf="respBottoni">
  <p class="h1" style="margin-left: 35%; color: #09357a">SELEZIONA UN REGISTRO
    <img src="/registromanager/logoSara.png">
  </p>

  <div style="margin-left: 38%; margin-top: 5%" class="d-flex">

    <button style="margin-right: 5%" type="button" class="btn btn-success" (click)="sceltaR('R')">REGISTRO
      MANAGER</button>
    <button type="button" class="btn btn-secondary" (click)="sceltaI('I')">INSIDER LIST</button>

    <!--BOTTONE PROVVISORIO SOLO PER TEST IMPORT DATI CSV-->
    <!-- <button style="margin-left: 2rem" type="button" class="btn btn-warning"
    (click)="exportDatiCsv()">ESPORTA DATI DA CSV</button> -->

  </div>
</div>

<app-app-start *ngIf="respAppStart"></app-app-start>