<br>

<!--Modal aggiungi società-->

<div *ngIf="respAddSocieta">

    <h4 style="margin-left:3%">Inserire i dati della nuova Società</h4>

    <div class="row modal-body">

        <div class="col-6 form-group">
            <label>Nome</label>
            <br><br>
            <input class="form-control" type="text" [(ngModel)]="nome" required>
        </div>

        <div class="col-6 form-group">
            <label>Iniziale</label>
            <br><br>
            <input style="text-transform : uppercase" class="form-control" type="text" maxlength="1"
                [(ngModel)]="iniziale" required>
        </div>

    </div>

    <div class="modal-footer">
        <button class="col-3" type="button" class="btn btn-success"
            [disabled]="!nome || nome === '' || !iniziale || iniziale === ''" (click)="saveSocieta()">Salva</button>
        <button class="col-3" style="margin-left: 3%" type="button" class="btn btn-danger"
            (click)="annullaScelta()">Annulla</button>
    </div>

</div>

<!--Modal rimuovi società-->

<div *ngIf="respDeleteSocieta">

    <h4 style="margin-left:3%">Inserire la Società da rimuovere</h4>

    <div class="modal-body">
        <div class="col-6">
            <select class="form-control" id="exampleSelect1" name="societa" [(ngModel)]="societa">
                <option *ngFor="let soc of listaSocieta" [ngValue]="soc">{{ soc.nome }}</option>
            </select>
        </div>
    </div>

    <div class="modal-footer">
        <button class="col-3" type="button" class="btn btn-success"
            [disabled]="(societa | json) === '{}' || societa === null" (click)="deleteSocieta()">Rimuovi</button>
        <button class="col-3" style="margin-left: 3%" type="button" class="btn btn-danger"
            (click)="annullaScelta()">Annulla</button>
    </div>

</div>