.ricerca-tabella {
    margin-left: 5%;
    width: 1300px;
  }

  .error-message {
    color: red;
    margin-top: 10%;
    text-align: center !important;
  }

  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 1rem;
  }

  .mat-tab-group {
    margin-bottom: 48px;
  }
  
  table {
    width: 100%;
  }