<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <p class="h1 text-center" style="margin-top: 1%; color: #09357a">RICERCA ACCESSI PER DATA</p>
    </div>
  </div>

  <br>

  <!--INIZIO FORM VALIDAZIONE CAMPI-->
  <div class="form-group row">
    <label style="margin-left: 10rem" class="col-form-label">Informazione Privilegiata:</label>
    <div class="col-6">
      <select class="form-control" [(ngModel)]="informazionePrivilegiata">
        <option *ngFor="let s of listaSchedaInformazione" [ngValue]="s?.informazionePrivilegiata">
          {{ s?.informazionePrivilegiata }}
        </option>
      </select>
    </div>
  </div>

  <br>

  <div class="row" style="margin-left: 12rem">

    <div class="col-5">
      <label for="example-date-input" class="col-2 col-form-label">Dal</label>

      <input matInput [matDatepicker]="startDatePicker" placeholder="Scegli una data" [(ngModel)]="startDate"
        [max]="maxDate" required readonly>
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </div>

    <div class="col-5">
      <label for="example-date-input" class="col-2 col-form-label">Al</label>

      <input matInput [matDatepicker]="endDatePicker" placeholder="Scegli una data" [(ngModel)]="endDate"
        [max]="maxDate" [min]="startDate" required readonly>
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </div>

  </div>

  <br><br>

  <!--BOTTONIERA-->
  <div style="margin-left: 25rem" class="row">
    <div class="d-flex col-lg-6" style="float: right">
      <button style="margin-right: 5%" type="button" class="btn btn-success" (click)="search()"
        [disabled]="controlField()">CONFERMA</button>
      <button type="button" class="btn btn-danger" (click)="reset()">RESETTA</button>
    </div>
    <div class="d-flex col-lg-6"></div>
  </div>

</div>

<!--ELENCO PERSONE IN RICERCA-->
<div class="ricerca-tabella" style="margin-top: 3%;" *ngIf="respTabella">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Schede Persona">

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="1">
            <th mat-header-cell *matHeaderCellDef>Accede</th>
            <td mat-cell *matCellDef="let element">
              <ng-container
                *ngIf="element?.dataCessazioneInformazione === null && element?.dataAccessoInformazione !== null">
                SI
              </ng-container>
              <ng-container
                *ngIf="element?.dataCessazioneInformazione !== null && element?.dataAccessoInformazione !== null">
                NO
              </ng-container>
            </td>
          </ng-container>

          <ng-container matColumnDef="2">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">{{element.schedaPersona.nome}}</td>
          </ng-container>

          <ng-container matColumnDef="3">
            <th mat-header-cell *matHeaderCellDef>Cognome</th>
            <td mat-cell *matCellDef="let element">{{element.schedaPersona.cognome}}</td>
          </ng-container>

          <ng-container matColumnDef="4">
            <th mat-header-cell *matHeaderCellDef>Codice Scheda</th>
            <td mat-cell *matCellDef="let element">{{element.schedaPersona.codiceScheda}}</td>
          </ng-container>

          <ng-container matColumnDef="5">
            <th mat-header-cell *matHeaderCellDef>Società</th>
            <td mat-cell *matCellDef="let element">{{element.schedaPersona.societa.nome}}</td>
          </ng-container>

          <ng-container matColumnDef="6">
            <th mat-header-cell *matHeaderCellDef>Data di accesso</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.dataAccessoInformazione | date:'dd/MM/yyyy' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="7">
            <th mat-header-cell *matHeaderCellDef>Data di cessazione</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element?.dataCessazioneInformazione !== null">
                {{ element?.dataCessazioneInformazione | date:'dd/MM/yyyy' }}
              </ng-container>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row [routerLink]="['/visualizza-scheda-persona', row?.schedaPersona?.idSchedaPersona]"
            routerLinkActive="router-link-active" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <br> <br>

        <div class="text-center">
          <a [href]="pathExportExcel">
            <button style="margin-top: 1%; margin-left: 1%;" class="btn btn-info">Esporta file Excel</button>
          </a>
        </div>

      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div style="margin-top: 10%; margin-left: 49%" *ngIf="respGif" class="spinner-border text-primary text-center"
  role="status">
  <span class="sr-only">Caricamento...</span>
</div>

<div *ngIf="respMessaggioAccessiAssenti">
  <h1 class="error-message">Non sono presenti accessi in questo periodo di tempo</h1>
</div>

<div style="height: 6rem">&nbsp;</div>