<div class="text-center">
  <p class="h1" style="margin-top: 1%; color: #09357a">COMUNICAZIONI INVIATE</p>
</div>

<div style="margin-top: 3%">
  <div *ngIf="respTabella">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Email inviate">

        <div>
          <table mat-table [dataSource]="dataSource1" matSort>

            <ng-container matColumnDef="1">
              <th mat-header-cell *matHeaderCellDef >TIPO</th>
              <td mat-cell *matCellDef="let element">
                {{tipoEmail}}</td>
            </ng-container>

            <ng-container matColumnDef="2">
              <th mat-header-cell *matHeaderCellDef >DATA INVIO</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.pk?.comunicazione?.dataInvio | date:'dd/MM/yyyy' }}</td>
            </ng-container>

            <ng-container matColumnDef="3">
              <th mat-header-cell *matHeaderCellDef >ORA INVIO</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.pk?.comunicazione?.dataInvio | date:'HH:mm' }}</td>
            </ng-container>

            <ng-container matColumnDef="4">
              <th mat-header-cell *matHeaderCellDef >OGGETTO</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.pk?.comunicazione?.oggetto }}</td>
            </ng-container>

            <ng-container matColumnDef="5">
              <th mat-header-cell *matHeaderCellDef >DESTINATARIO</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.pk?.schedaPersona?.nome }} {{ element?.pk?.schedaPersona?.cognome }}</td>
            </ng-container>

            <ng-container matColumnDef="6">
              <th mat-header-cell *matHeaderCellDef >TESTO</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.pk?.comunicazione?.testo }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row [routerLink]="['/visualizza-comunicazione', row.pk.comunicazione.id]"
              routerLinkActive="router-link-active" *matRowDef="let row; columns: displayedColumns1;"></tr>
          </table>
        </div>

      </mat-tab>

      <mat-tab label="Lettere stampate">

        <div>
          <table mat-table [dataSource]="dataSource2" matSort>

            <ng-container matColumnDef="1">
              <th mat-header-cell *matHeaderCellDef >TIPO</th>
              <td mat-cell *matCellDef="let element">
                {{tipoLettera}}</td>
            </ng-container>

            <ng-container matColumnDef="2">
              <th mat-header-cell *matHeaderCellDef >DATA INVIO</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.pk?.comunicazione?.dataInvio | date:'dd/MM/yyyy' }}</td>
            </ng-container>

            <ng-container matColumnDef="3">
              <th mat-header-cell *matHeaderCellDef >ORA INVIO</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.pk?.comunicazione?.dataInvio | date:'HH:mm' }}</td>
            </ng-container>

            <ng-container matColumnDef="4">
              <th mat-header-cell *matHeaderCellDef >DESTINATARIO</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.pk?.schedaPersona?.nome }} {{ element?.pk?.schedaPersona?.cognome }}</td>
            </ng-container>

            <ng-container matColumnDef="5">
              <th mat-header-cell *matHeaderCellDef >TESTO</th>
              <td mat-cell *matCellDef="let element">
                {{ element?.pk?.comunicazione?.testo }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row [routerLink]="['/visualizza-comunicazione', row.pk.comunicazione.id]"
              routerLinkActive="router-link-active" *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
        </div>

      </mat-tab>

    </mat-tab-group>

  </div>
</div>

<div style="margin-top: 10%; margin-left: 49%" *ngIf="respGif" class="spinner-border text-primary" role="status">
  <span class="sr-only">Caricamento...</span>
</div>

<div *ngIf="respMessaggioErrore">
  <h1 class="error-message">{{ messaggioErrore }}</h1>
</div>

<div style="height: 3rem">&nbsp;</div>