/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

.mat-row:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}
