.scheda {
  width: 600px;
  background-color: #f5f5f5;
  border-width: 100;
  border-color: black;
  border-style: solid
}

.mat-tab-group {
  margin-bottom: 48px;
}

table {
  width: 100%;
}

th.-sorted {
  color: black;
}

