<!--RETTANGOLO SCHEDA PERSONA-->
<div style="margin-top: 1%" class="container">
  <div class="row">
    <div class="col-10">
      <div class="container scheda">
        <div class="row">
          <div class="col-12">
            <h3>
              <font color=red *ngIf="schedaPersona?.stato !== 'Bozza'">Codice: {{ schedaPersona?.codiceScheda }}</font>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h4>Stato: {{ schedaPersona?.stato }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h6>
              <font color=#0000ff>Inserimento:</font>
            </h6>
            <div>
              <h6 *ngIf="sceltaAmbito === 'I'">{{ schedaPersona?.dataIscrizione | date:'dd/MM/yyyy' }}</h6>
              <h6 *ngIf="sceltaAmbito === 'R'">{{ schedaPersona?.dataInserimento | date:'dd/MM/yyyy' }}</h6>
            </div>
          </div>
          <div class="col-6">
            <div>
              <h6>
                <font color=#0000ff>Ultimo modificatore:</font>
              </h6>
            </div>
            <div>
              <h6>{{ schedaPersona?.autore }}</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h6>
              <font color=#0000ff>Ultima Modifica:</font>
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h6>{{ schedaPersona?.dataUltimoAggiornamento | date:'dd/MM/yyyy' }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 3%">
  <div *ngIf="respTabella">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Versioni Precedenti">

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource1" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="1">
              <th mat-header-cell *matHeaderCellDef>VERSIONE</th>
              <td mat-cell *matCellDef="let element">
                {{element.versione}}
              </td>
            </ng-container>

            <ng-container matColumnDef="2" style="margin-left: 3%;">
              <th mat-header-cell *matHeaderCellDef>DATA CREAZIONE</th>
              <td mat-cell *matCellDef="let element">

                <ng-container *ngIf="sceltaAmbito === 'R'">
                  {{element.dataCreazione | date:'dd/MM/yyyy HH:mm'}}
                </ng-container>

                <ng-container *ngIf="sceltaAmbito === 'I'">
                  {{element.dataCreazione | date:'dd/MM/yyyy'}}
                </ng-container>

              </td>
            </ng-container>

            <ng-container matColumnDef="3" style="margin-left: 3%;">
              <th mat-header-cell *matHeaderCellDef>DATI MODIFICATI</th>
              <td mat-cell *matCellDef="let element">
                {{element.datiModificati}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row [routerLink]="['/visualizza-singola-versioning', row.idVersioning]"
              routerLinkActive="router-link-active" *matRowDef="let row; columns: displayedColumns1;"></tr>
          </table>
        </div>
      </mat-tab>

    </mat-tab-group>

  </div>

  <div style="margin-top: 10%; margin-left: 49%" *ngIf="respGif" class="spinner-border text-primary" role="status">
    <span class="sr-only">Caricamento...</span>
  </div>
</div>

<div style="height: 3rem">&nbsp;</div>