#show-table {
  text-align: center;
  margin-top: 20px;
  }

  .icon-class{
    top: 0.2rem;
    position: relative;
  }

  .tablediv {
  margin-top: 20px;
  height: 200px;
  border: 2px solid;
  overflow-y: scroll;
  }

  .stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  left: -3rem;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.scheda {
  width: 600px;
  background-color: #f5f5f5;
  border-width: 100;
  border-color: black;
  border-style: solid
}
