<!--RETTANGOLO SCHEDA PERSONA-->
<div *ngIf="respScheda" style="margin-top: 1%" class="container">
	<div class="row">
		<div class="col-10">
			<div class="container scheda">
				<div class="row">
					<div class="col-12">
						<h3>
							<font color=red *ngIf="schedaPersona.stato !== 'Bozza'">Codice:
								{{ schedaPersona?.codiceScheda }}</font>
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h4>Stato: {{ schedaPersona?.stato }}</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<h6>
							<font color=#0000ff>Inserimento:</font>
						</h6>
						<div>
							<h6 *ngIf="sceltaAmbito === 'I'">{{ schedaPersona?.dataIscrizione | date:'dd/MM/yyyy' }}</h6>
							<h6 *ngIf="sceltaAmbito === 'R'">{{ schedaPersona?.dataInserimento | date:'dd/MM/yyyy' }}
							</h6>
						</div>
					</div>
					<div class="col-6">
						<div>
							<h6>
								<font color=#0000ff>Ultimo modificatore:</font>
							</h6>
						</div>
						<div>
							<h6>{{ schedaPersona?.autore }}</h6>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<h6>
							<font color=#0000ff>Ultima Modifica:</font>
						</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h6>{{ schedaPersona?.dataUltimoAggiornamento | date:'dd/MM/yyyy' }}</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--BOTTONE PER TORNARE AL RIEPILOGO VERSIONI-->
<div class="row">
	<button type="button" class="offset-10 btn btn-danger" style="margin-bottom: 1%"
		(click)="goToVisualizzaVersioning()">
		<i class="material-icons icon-class">arrow_back</i>
		<span>INDIETRO</span>
	</button>
</div>

<div class="col-lg-12">
	<table *ngIf="respTabella" class="table table-striped">

		<thead class="thead-inverse">
			<tr>
				<th style="color: blue">Dettagli:</th>
				<th style="color: blue">Valore:</th>
			</tr>
		</thead>

		<tbody>

			<tr>
				<td><b>Società</b></td>
				<td><b>{{ schedaPersona.societa.nome }}</b></td>
			</tr>

			<tr>
				<td><b>Nome</b></td>
				<td>{{ schedaPersona.nome }}</td>
			</tr>

			<tr>
				<td><b>Cognome</b></td>
				<td>{{ schedaPersona.cognome }}</td>
			</tr>

			<tr>
				<td><b>Codice Fiscale</b></td>
				<td>{{ schedaPersona.codiceFiscale | uppercase }}</td>
			</tr>

			<tr *ngIf="sceltaAmbito === 'I'">
				<td><b>Cognome di Nascita</b></td>
				<td>{{ schedaPersona.cognomeNascita }}</td>
			</tr>

			<tr *ngIf="sceltaAmbito === 'I'">
				<td><b>Telefoni Professionali</b></td>
				<td>{{ schedaPersona.telefonoProfessionale }}</td>
			</tr>

			<tr *ngIf="sceltaAmbito === 'I'">
				<td><b>Telefoni Privati</b></td>
				<td>{{ schedaPersona.telefonoPrivato }}</td>
			</tr>

			<tr *ngIf="sceltaAmbito === 'I'">
				<td><b>Indirizzo</b></td>
				<td>{{ schedaPersona.indirizzo }}</td>
			</tr>

			<tr *ngIf="sceltaAmbito === 'I'">
				<td><b>CAP</b></td>
				<td>{{ schedaPersona.cap }}</td>
			</tr>

			<tr *ngIf="sceltaAmbito === 'I'">
				<td><b>Località</b></td>
				<td>{{ schedaPersona.localita }}</td>
			</tr>

			<tr *ngIf="sceltaAmbito === 'I'">
				<td><b>Provincia</b></td>
				<td>{{ schedaPersona.provincia }}</td>
			</tr>

			<tr *ngIf="sceltaAmbito === 'I'">
				<td><b>Nazione</b></td>
				<td>{{ schedaPersona.nazione }}</td>
			</tr>

			<tr *ngIf="sceltaAmbito === 'I'">
				<td><b>Nome Indirizzo Impresa</b></td>
				<td>{{ schedaPersona.nomeIndirizzoImpresa }}</td>
			</tr>

			<tr *ngIf="sceltaAmbito === 'I'">
				<td><b>Identificativo Nazionale</b></td>
				<td>{{ schedaPersona.identificativoNazionale }}</td>
			</tr>

			<tr *ngIf="sceltaAmbito === 'R'">
				<td><b>Data di Inserimento</b></td>
				<td>{{ schedaPersona.dataInserimento | date:'dd/MM/yyyy' }}</td>
			</tr>

			<tr>
				<td><b>Data di Nascita</b></td>
				<td>{{ schedaPersona.dataNascita | date:'dd/MM/yyyy' }}</td>
			</tr>

			<tr>
				<td><b>Email</b></td>
				<td>{{ schedaPersona.email }}</td>
			</tr>

			<tr>
				<td><b>Ruolo</b></td>
				<td>{{ schedaPersona.ruolo }}</td>
			</tr>

			<tr>
				<td><b>Ragione Sociale</b></td>
				<td>{{ schedaPersona.ragioneSociale }}</td>
			</tr>

			<tr>
				<td><b>Partita Iva</b></td>
				<td>{{ schedaPersona.partitaIva }}</td>
			</tr>

			<tr>
				<td><b>Tipologia Soggetto</b></td>
				<td>{{ schedaPersona.tipologiaSoggetto }}</td>
			</tr>

			<tr *ngIf="sceltaAmbito === 'R'">
				<td><b>Manager di Riferimento</b></td>
				<td>{{ schedaPersona.managerRiferimento }}</td>
			</tr>

			<tr *ngIf="schedaPersona.stato !== 'Bozza'">
				<td><b>Codice Scheda</b></td>
				<td>{{ schedaPersona.codiceScheda }}</td>
			</tr>

			<tr *ngIf="sceltaAmbito === 'I'">
				<td><b>Motivo Iscrizione</b></td>
				<td>{{ schedaPersona.motivoIscrizione }}</td>
			</tr>

			<tr>
				<td><b>Motivo Ultima Variazione</b></td>
				<td>{{ schedaPersona.motivoUltimaVariazione }}</td>
			</tr>

			<tr *ngIf="sceltaAmbito === 'I'">
				<td><b>Data di iscrizione</b></td>
				<td>{{ schedaPersona.dataIscrizione | date:'dd/MM/yyyy' }}</td>
			</tr>

			<tr *ngIf="schedaPersona.stato === 'Cancellato' ">
				<td><b>Data di cancellazione</b></td>
				<td>{{ schedaPersona?.dataCancellazione | date:'dd/MM/yyyy' }}</td>
			</tr>

			<tr>
				<td><b>Autore</b></td>
				<td>{{ schedaPersona.autore }}</td>
			</tr>

			<tr *ngIf="sceltaAmbito === 'I'">
				<td><b>Tipo Accesso Informazione</b></td>
				<td>{{ schedaPersona.tipoAccessoInformazione }}</td>
			</tr>

		</tbody>
	</table>
</div>