<div class="container" style="margin-left: 1%; margin-top: 1%">

	<div class="row">
		<div class="col-lg-12">
			<p class="h1" style="margin-left: 42%; color: #09357a">CREAZIONE
				INFORMAZIONE</p>
		</div>
	</div>

	<div class="form-group row" style="margin-top: 2%;">
		<div class="col-12 col-form">
			<div class="form-group row">

				<div class="d-flex col-12">
					<label for="example-text-input" class="col-2 col-form-label">
						<font color=#FF0000>*</font>Informazione Pivilegiata
					</label>

					<div class="col-4">
						<input class="form-control" type="text" id="example-text-input" required
							[(ngModel)]="schedaInformazione.informazionePrivilegiata"
							[ngStyle]="{'border-left': controlInfo() ? '5px solid #a94442':'5px solid #42A948'}">
					</div>
				</div>

				<div class="d-flex col-12">
					<label for="example-date-input" class="col-2 col-form-label">
						<font color=#FF0000>*</font>Data di Identificazione (inserire in
						formato UTC)
					</label>

					<div class="col-4">
						<input matInput [matDatepicker]="picker" placeholder="Scegli una data"
							[(ngModel)]="schedaInformazione.dataIdentificazione" [max]="maxDate" required readonly>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</div>

					<label for="example-date-input" class="col-2 col-form-label">
						<font color=#FF0000>*</font>Ora di Identificazione (inserire in
						formato UTC)
					</label>

					<div class="col-4">
						<input class="form-control" type="time" id="example-date-input" required
							[(ngModel)]="oraIdentificazione">
					</div>

				</div>
			</div>

		</div>

		<div class="col-12">
			<div class="d-flex col-lg-6" style="float: right">
				<button style="margin-right: 5%" type="submit" class="btn btn-success"
					(click)="saveSchedaInformazione()"
					[disabled]="controlField()">CONFERMA</button>
				<button type="button" class="btn btn-danger" (click)="resetSchedaInformazione()">RESETTA</button>
			</div>
			<div class="d-flex col-lg-6"></div>
		</div>

	</div>
</div>