<div class="text-center">
  <p class="h1" style="margin-top: 1%; color: #09357a">ELENCO TEMPLATE LETTERE</p>
</div>

<div style="margin-top: 3%">
  <div *ngIf="respTabella">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Tutti i template">

        <div>
          <table mat-table [dataSource]="dataSource1" matSort>

            <ng-container matColumnDef="1" class="p-1">
              <th mat-header-cell *matHeaderCellDef >NOME TEMPLATE</th>
              <td mat-cell *matCellDef="let element">
                {{element.nomeTemplate}}</td>
            </ng-container>

            <ng-container matColumnDef="2" class="p-1">
              <th mat-header-cell *matHeaderCellDef >TESTO</th>
              <td mat-cell *matCellDef="let element">
                {{element.testo}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row [routerLink]="['/visualizza-template', row.id]" routerLinkActive="router-link-active"
              *matRowDef="let row; columns: displayedColumns1;"></tr>
          </table>
        </div>

      </mat-tab>

    </mat-tab-group>
  </div>

  <div style="margin-top: 10%; margin-left: 49%" *ngIf="respGif" class="spinner-border text-primary" role="status">
    <span class="sr-only">Caricamento...</span>
  </div>

  <div *ngIf="respMessaggioErrore">
    <h1 class="error-message">{{ messaggioErrore }}</h1>
  </div>

</div>

<div style="height: 3rem">&nbsp;</div>