.p-1{
    padding: 1rem;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
   padding: 1rem;
 }

.error-message{
   color: red;
   margin-top: 10%;
   text-align: center !important;
 }