<br>

<h4 style="margin-left:3%">Digitare il motivo della variazione</h4>

<div *ngIf="confirm">

  <div class="modal-body">

    <form>
      <div class="form-group row">
        <div class="col-10">
          <input class="form-control" type="text" id="example-text-input" name="motivoUltimaVariazione" required
            [(ngModel)]="motivoUltimaVariazione">
        </div>
      </div>
    </form>

  </div>

  <div class="modal-footer">
    <div style="margin-left: 65%; margin-top: 3%; margin-bottom: 3%" class="d-flex">

      <button style="margin-right: 5%" type="button" class="btn btn-success"
        [disabled]="!motivoUltimaVariazione || motivoUltimaVariazione === ''"
        (click)="saveSchedaPersona()">CONFERMA</button>
      <button style="margin-right: 5%" type="button" class="btn btn-danger" (click)="annullaScelta()">ANNULLA</button>

    </div>
  </div>

</div>