<br>

<h4 style="margin-left:3%">Scegli l'informazione da aggiungere</h4>

<div class="modal-body">

  <div class="form-group row">
    <label for="exampleSelect1" class="col-sm-2 col-form-label"><span class="text-danger">*</span>Tipo Accesso</label>
    <div class="col-sm-10">
      <select class="form-control" id="exampleSelect1" required [(ngModel)]="tipoAccesso" (change)="filterPermanente($event.target.value)">
        <option *ngIf="respAccessoPermanente">Permanente</option>
        <option>Solo alcune informazioni</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-text-input" class="col-sm-2 col-form-label"><span class="text-danger">*</span>Motivazione
      Accesso</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" id="example-text-input" required [(ngModel)]="nuovaMotivazioneAccesso">
    </div>
  </div>

  <!--DATE E ORA ACCESSO INFO-->
  <div class="form-group row">

    <label for="example-date-input" class="col-2 col-form-label">
      <font color=#FF0000>*</font>Data di accesso (inserire in formato UTC)
    </label>
    <div class="col-4">
      <input matInput [matDatepicker]="picker" placeholder="Scegli una data" [(ngModel)]="dataInfo" [max]="maxDate" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>

    <label for="example-date-input" class="col-2 col-form-label">
      <font color=#FF0000>*</font>Ora di accesso (inserire in formato UTC)
    </label>
    <div class="col-4">
      <input class="form-control" type="time" id="example-date-input" required [(ngModel)]="oraInfo">
    </div>

  </div>

  <!--SELEZIONE INFORMAZIONE PERMANENTE-->
  <div *ngIf="tipoAccesso === 'Permanente' " class="form-group row">
    <label for="exampleSelect1" class="col-2 col-form-label">Informazione</label>
    <div class="col-sm-10">
      <select (selectionChange)="onChangeInfo($event.target.value)" class="form-control" id="exampleSelect1">
        <option>Accesso Permanente</option>
      </select>
    </div>
  </div>

  <!--SELEZIONE INFORMAZIONE SINGOLA COMBO PIENA-->
  <div *ngIf="tipoAccesso === 'Solo alcune informazioni' && listaInformazioniCollegabili?.length > 0"
    class="form-group row">
    <label for="exampleSelect2" class="col-2 col-form-label">Informazione</label>
    <div class="col-sm-10">
      <select class="form-control" id="exampleSelect1" [(ngModel)]="schedaInformazione">
        <option *ngFor="let i of listaInformazioniCollegabili" [ngValue]="i"
          (change)="onChangeInfo($event.target.value)">{{ i.informazionePrivilegiata }}</option>
      </select>
    </div>
  </div>

  <!--SELEZIONE INFORMAZIONE SINGOLA COMBO VUOTA-->
  <div *ngIf="tipoAccesso === 'Solo alcune informazioni' && listaInformazioniCollegabili?.length === 0"
    class="form-group row">
    <h3 class="error-message">Non sono presenti informazioni privilegiate!</h3>
  </div>

</div>

<!--BOTTONIERA-->
<div class="modal-footer">

  <button style="margin-right: 5%" type="button" class="btn btn-success" [disabled]="controlField()"
    (click)="confermaSceltaInsert()">CONFERMA</button>
  <button style="margin-right: 5%" type="button" class="btn btn-danger" (click)="annullaScelta()">ANNULLA</button>

</div>