<br>

<h4 style="margin-left:3%">Inserire i campi per la cancellazione</h4>

<div *ngIf="confirm">

  <div class="modal-body">

    <!--SET DATA CANCELLAZIONE-->
    <div class="form-group row">
      <label for="example-date-input" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Data di cancellazione
      </label>
      <div class="col-8" style="margin-left: 2rem">
        <input matInput [matDatepicker]="picker" placeholder="Scegli una data" [(ngModel)]="dataCancellazione" [max]="maxDate" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>

    <div class="form-group row">
      <label for="example-date-input" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Ora di cancellazione
      </label>
      <div class="col-4" style="margin-left: 2rem">
        <input class="form-control" type="time" id="example-date-input" required [(ngModel)]="oraCancellazione">
      </div>
    </div>

    <br>

    <!--SET MOTIVO ULTIMA VARIAZIONE(CANCELLAZIONE)-->
    <div class="form-group row">
      <label for="example-date-input" class="col-2 col-form-label">
        <font color=#FF0000>*</font>Motivo ultima variazione
      </label>
      <div class="col-10">
        <input class="form-control" type="text" id="example-text-input" name="motivoUltimaVariazione" required
          [(ngModel)]="motivoUltimaVariazione">
      </div>
    </div>

  </div>

  <!--BOTTONIERA-->
  <div class="modal-footer">
    <div style="margin-left: 65%; margin-top: 3%; margin-bottom: 3%" class="d-flex">

      <button style="margin-right: 5%" type="button" class="btn btn-success" (click)="deleteSchedaPersona()"
        [disabled]="dataCancellazione === null || !motivoUltimaVariazione || oraCancellazione === '' || !oraCancellazione">CONFERMA</button>
      <button style="margin-right: 5%" type="button" class="btn btn-danger" (click)="annullaScelta()">ANNULLA</button>

    </div>
  </div>

</div>