<div>
  <p class="h1 text-center" style="color: #09357a; margin-top:2%">Informazioni Collegate a: {{ schedaPersona.nome }}
    {{ schedaPersona.cognome }}</p>
</div>

<table style="margin-top: 2%" *ngIf="respTabella" class="table table-striped">
  <thead class="thead-inverse">
    <!--qui definiamo le colonne della tabella -->
    <tr>
      <th>Informazione:</th>
      <th>Accesso dal:</th>
      <th>alle ore:</th>
      <th>Motivazione accesso:</th>
      <th>Cessato il:</th>
      <th>alle ore:</th>
    </tr>
  </thead>

  <!-- qua definiamo le righe della tabella -->
  <tbody *ngFor="let i of listaInformazioniCollegate">
    <tr>
      <td [ngStyle]="{'font-weight': 'bold', color: i.dataCessazioneInformazione ? 'red':'green'}">
        {{ i?.schedaInformazione?.informazionePrivilegiata }}</td>
      <td [ngStyle]="{'font-weight': 'bold', color: 'green'}">
        {{ i.dataAccessoInformazione | date: 'dd/MM/yyyy' }}</td>
      <td [ngStyle]="{'font-weight': 'bold', color: 'green'}">
        {{ i.oraAccessoInformazione }}</td>
      <td [ngStyle]="{'font-weight': 'bold', color:'black'}">
        {{ i.motivazioneAccesso }}</td>
      <td [ngStyle]="{'font-weight': 'bold', color: 'red' }">
        {{ i.dataCessazioneInformazione | date: 'dd/MM/yyyy' }}</td>
      <td [ngStyle]="{'font-weight': 'bold', color: 'red' }">
        {{ i.oraCessazioneInformazione }}</td>
    </tr>
  </tbody>
</table>


<div style="margin-right: 2%; margin-top: 3%; margin-bottom: 3%" *ngIf="respBottoniTabella" class="d-flex container">

  <button style="margin-left: 5%" type="button" class="btn btn-success" (click)="collegaInfo()"
    [disabled]="schedaPersona?.stato === 'Cancellato' || schedaPersona?.tipoAccessoInformazione === 'Permanente' || listaInformazioniCollegabili?.length === 0">COLLEGA
    INFORMAZIONE</button>
  <button style="margin-left: 5%" type="button" class="btn btn-danger" (click)="cessaInfo()"
    [disabled]="schedaPersona.stato === 'Cancellato' || respCessaDisabled">CESSA INFORMAZIONE</button>

</div>