<br>

<h4 style="margin-left:3%">Scegli l'informazione da cessare</h4>

<div class="modal-body">

  <!--COMBO INFORMAZIONI SINGOLE-->
  <div class="form-group row" *ngIf="schedaPersona.tipoAccessoInformazione === 'Limitato'">
    <label for="exampleSelect1" class="col-2 col-form-label">Informazione</label>
    <div class="col-10">
      <select class="form-control" id="exampleSelect1" name="informazione" [(ngModel)]="accessoInformazione" (change)="onChangeDate()">
        <option *ngFor="let i of listaInformazioniCollegatePersona" [ngValue]="i">
          {{ i?.schedaInformazione?.informazionePrivilegiata }}</option>
      </select>
    </div>
  </div>

  <!--CESSA ACCESSO PERMANENTE-->
  <div class="form-group row" *ngIf="schedaPersona.tipoAccessoInformazione === 'Permanente'">
    <label for="exampleSelect1" class="col-2 col-form-label">Informazione</label>
    <div class="col-10">
      <select class="form-control" id="exampleSelect2" name="informazionePermanente">
        <option>Accesso Permanente</option>
      </select>
    </div>
  </div>

  <!--SET DATA E ORA CESSAZIONE-->
  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">
      <font color=#FF0000>*</font>Data di cessazione (inserire in formato UTC)
    </label>
    <div class="col-10">
      <input matInput [matDatepicker]="picker" placeholder="Scegli una data" [(ngModel)]="dataInfo" [min]="minDate" [max]="maxDate" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
  </div>

  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">
      <font color=#FF0000>*</font>Ora di cessazione (inserire in formato UTC)
    </label>
    <div class="col-10">
      <input class="form-control" type="time" id="example-date-input" required [(ngModel)]="oraInfo">
    </div>
  </div>

</div>

<!--BOTTONIERA-->
<div class="modal-footer">
  <div style="margin-left: 65%; margin-top: 3%; margin-bottom: 3%" *ngIf="respBottoniDelete" class="d-flex">

    <button style="margin-right: 5%" type="button" class="btn btn-success" (click)="confermaSceltaDelete()"
      [disabled]="!accessoInformazione || accessoInformazione === null || dataInfo === null || !dataInfo || oraInfo === '' ">CONFERMA</button>
    <button style="margin-right: 5%" type="button" class="btn btn-danger" (click)="annullaScelta()">ANNULLA</button>

  </div>
</div>
